#headerAccount{
	position: fixed;
	top: 0; left: 0; right: 0;
	z-index: 10;

	height: 92px;
	width: 100%;

	background: #191919;

	div{
		width: 960px;
		margin: 0 auto;
	}
	#header-logo{
		margin: 32px 0 0 0;
		width: 70px;
	}
}

#account-info-wrapper{
	width: 100%;
	height: 228px;
	margin: 92px 0 0 0;

	background: #191919;
	color: white;

	#account-info{
		width: 960px;
		margin: 0 auto;

		text-align: center;

		img{
			width: 90px;

			border-radius: 50%;
		}
		#wishlist-nb{
			padding: 2px 6px;

			background: rgba(255,255,255,.15);
			border-radius: 6px;

			font-weight: 100;
			font-size: 12px;

			font{
				color: #F8E79D;
			}
		}
		.account-name,
		.account-email{
			display: block;
		}
		.account-address,
		.account-postal,
		.account-city,
		.account-country{
			display: inline-block;
			font-family: 'Palatino-Italic', sans-serif;
			font-size: 12px;
			color: #808080;
		}
		.account-name{
			margin: 15px 0 10px 0;
			text-transform: uppercase;
			letter-spacing: 2px;
			font-size: 16px;
			font-weight: 900;
		}
		.account-email{
			font-family: 'Palatino-Italic', sans-serif;
			font-size: 12px;
			color: #808080;
		}
		a{
			margin: 10px 0 0 0;
			padding: 5px 10px;
			display: inline-block;

			color: white;

			text-decoration: none;
			font-weight: 300;
			font-size: 14px;
			letter-spacing: 1px;

			&:last-child{
				border-left: 1px solid #808080;
			}
			svg{
				width: 20px;
				height: 20px;

				vertical-align: middle;
			}
		}
	}
}

#container{
	width: 960px;
	margin: 0 auto;

	#head{
		border-bottom: 1px solid #C8C8C8;
		margin: 10px 0 0 0;

		span{
			display: inline-block;
			width: 25%;
			margin: 0 0 0 -4px;
			padding: 25px 0;

			text-transform: uppercase;
			border-bottom: 3px solid transparent;

			cursor: pointer;

			&:first-child{
				margin: 0;
			}
			.nb{
				padding: 0;
				width: 20%;
				dispaly: inline-block;
				vertical-align: middle;

				font-size: 40px;
				font-weight: 900;
				letter-spacing: 1px;

				border: 0 none;
			}
			.txt{
				padding: 0;
				margin: 0 0 0 5px;
				width: calc(80% - 9px);
				dispaly: inline-block;
				vertical-align: middle;

				border: 0 none;

				font-weight: 700;
				letter-spacing: 1px;
			}
		}
		#notifications,
		#locations,
		#reservations,
		#wishlists{
			color: #656565;
		}
		#notifications:hover,
		#locations:hover,
		#reservations:hover,
		#wishlists:hover{
			border-bottom: 3px solid $primary-color;
			color: #303030;
		}
		.active{
			border-bottom: 3px solid $primary-color;
			color: #303030;
		}
	}
	#content{
		#dashboard-notifs{
			#notifications-container{
				width: 100%;
				padding: 0;
				margin: 25px 0 0 0;

				border-radius: 3px;
				background: #EBEBEB;

				text-align: left;

				#header{
					padding: 25px 50px;

					font-size: 14px;
					text-transform: uppercase;
					font-weight: 900;
					letter-spacing: 1px;
				}
				.notif{
					width: 100%;
					padding: 25px 50px;

					border-top: 1px solid #CFCFCF;

					img{
						width: 50px;
						margin: 0 25px 0 0;
						vertical-align: middle;

						border-radius: 50px;
					}
					a{
						color: $primary-color;

						text-decoration: none;

						&:hover{
							text-decoration: underline;
						}
					}
					.details{
						display: inline-block;
						vertical-align: middle;
						width: 732px;
					}
					form{
						display: inline-block;
						vertical-align: middle;
						width: 50px;
						margin: 0 0 0 -4px;

						text-align: center;

						input{
							visibility: hidden;
						}
					}

					&:hover > form input{
						visibility: visible;
					}
				}
			}
		}
		#dashboard-locations{
			#own-offer-container{
				width: 100%;
				padding: 0;
				margin: 25px 0 0 0;

				border-radius: 3px;
				background: #EBEBEB;

				text-align: left;

				#header,
				#footer{
					padding: 25px 50px;

					font-size: 14px;
					text-transform: uppercase;
					font-weight: 900;
					letter-spacing: 1px;
					text-align: center;

					button{
						padding: 7px 20px;
						width: 230px;

						border-radius: 50px;
						border: 0 none;
						background: 0 none;
						background: linear-gradient(to right,rgba(12,157,80,1),rgba(51,184,163,1));
						color: white;

						text-transform: uppercase;
						font-size: 12px;
						letter-spacing: 2px;
						font-weight: 500;
						text-align: center;
					}
				}
				#header{
					border-bottom: 1px solid #cfcfcf;
				}
				.own-offer{
					padding: 25px 50px;

					border-bottom: 1px solid #cfcfcf;

					.offer-name{
						color: #656565;

						text-transform: uppercase;
						font-weight: 700;
						letter-spacing: 1px;

						a{
							color: #000000;

							text-decoration: none;
							font-weight: 900;

							&:hover{
								text-decoration: underline;
							}
						}
					}
					.offer-infos{
						display: inline-block;
						vertical-align: top;

						width: 200px;
						margin: 15px 0 30px 0;

						background: white;
						border-bottom-left-radius: 5px;
						border-bottom-right-radius: 5px;

						text-align: center;

						img{
							max-width: 100%;
							max-height: 200px;
							border-bottom: 2px solid $primary-color;
						}
						p{
							margin: 0;
							padding: 15px;

							text-align: center;

							span{
								padding: 2px 10px;

								border-radius: 50px;
								background: rgba(225,225,225,1);
								color: rgba(100,100,100,1);

								letter-spacing: 1px;
								font-weight: 500;
							}
						}
					}
					.offer-reservations-handler{
						display: inline-block;
						vertical-align: top;

						width: 660px;
						margin: 15px 0 0 -4px;

						.offer-reservation{
							margin: 0 0 0 25px;
							padding: 25px 50px 25px 0;

							border-bottom: 1px solid #cfcfcf;

							img{
								width: 50px;

								border-radius: 50px;
								vertical-align: top;
							}
							span{
								display: inline-block;
								vertical-align: top;
								width: calc(100% - 75px);
								margin: 0 0 0 21px;

								form{
									margin: 10px 0 0 0;
									display: inline-block;
									vertical-align: middle;

									width: 110px;

									input{
										width: 100px;
										padding: 4px 0;

										text-align: center;
										font-size: 14px;
										font-weight: 300;
										letter-spacing: 1px;

										background: #cfcfcf;
										border: 1px solid #cfcfcf;
										border-radius: 10px;
										color: #808080;
									}

								}
							}
							.reservation-info{
								img{
									vertical-align: middle;
								}
								a{
									display: inline-block;
									vertical-align: middle;
									padding: 7px 10px;

									color: white;
									background: linear-gradient(to right,rgba(12,157,80,1),rgba(51,184,163,1));
									border-radius: 50px;

									text-decoration: none;
									text-align: center;
								}
							}
						}
					}
					.offer-actions{
						position: absolute;
						margin: -25px 0 0 0;
						width: 200px;
						height: 20px;

						form{
							padding: 0;
							display: inline-block;
							vertical-align: middle;
							width: 80px;
							margin: 0 0 0 -4px;

							text-align: center;

							border-left: 1px solid #cfcfcf;

							input{
								margin: 0;
								width: 100%;

								border: 0 none;
								background: transparent;

								font-size: 11px;
								text-align: center;
							}
						}
						.availability{
							width: 120px;
							margin: 0;

							border-left: 0 none;
						}
					}
				}
			}
			#add-offer-container{
				width: 100%;
				padding: 0;
				margin: 25px 0 0 0;

				border-radius: 3px;
				background: #EBEBEB;

				text-align: left;

				#header{
					font-size: 14px;
					text-transform: uppercase;
					font-weight: 900;
					letter-spacing: 1px;
					text-align: left;

					border-bottom: 1px solid #cfcfcf;

					span{
						display: inline-block;
						vertical-align: middle;
						padding: 25px;

						&:first-child{
							border-right: 1px solid #cfcfcf;
							cursor: pointer;
						}
					}
				}
				#content{
					padding: 25px 50px;

					text-transform: uppercase;
					font-size: 12px;
					letter-spacing: 1px;
					font-weight: 700;

					color: #505050;

					.colored{
						color: $primary-color;
					}
					input,
					select{
						margin: -15px -4px 0 15px;
						padding: 0 15px;
						height: 40px;
						width: 50%;

						border-radius: 10px;
						border: 0 none;
						color: black;

						font-weight: 500;
						font-size: 14px;	

						&:last-child{
							margin: -15px 0 0 15px;
						}
					}
					input[type=file]{
						position: absolute;
						top: -9999px;
					}
					#col-l,
					#col-r{
						display: inline-block;
						vertical-align: top;
						width: 50%;
					}
					#col-l{
						text-align: right;
					}
					#col-r{
						margin: 0 0 0 -4px;
					}
					#col-b{
						width: 100%;

						p{
							display: inline-block;
							vertical-align: top;
							width: calc(25% - 15px);
							margin: 16px 0 0 0;
							
							text-align: right;
						}
						textarea,
						#mceu_6{
							display: inline-block;
							vertical-align: top;
							width: 75%;
							height: 270px;
							margin: 16px 0 0 11px;

							border: 0 none;
							border-radius: 10px;
							resize: none;
							color: black;

							font-weight: 500;
							font-size: 14px;
						}
						#add-picture-1-fake,
						#add-picture-2-fake,
						#add-picture-3-fake{
							display: inline-block;
							vertical-align: top;
							width: 75%;
							height: 40px;
							margin: 16px 0 0 25%;

							border-radius: 10px;
							border: 0 none;
							background: white;

							text-transform: uppercase;
							letter-spacing: 1px;
						}
						#add-picture-1-fake,
						#add-picture-2-fake,
						#add-picture-3-fake:focus,
						#add-picture-1-fake,
						#add-picture-2-fake,
						#add-picture-3-fake:hover{
							opacity: .75;
						}
						.photos{
							display: inline-block;
							vertical-align: top;
							width: 210px;
							height: 210px;
							margin: 15px 0 0 4px;

							background: #cfcfcf;
							border-radius: 10px;

							&:hover{
								opacity: .75;
							}
						}
						#picture-1{
							margin: 15px 0 0 25%;
						}
						input[type=submit]{
							margin: 30px 0 0 calc(50% - 165px);
							width: 230px;
							height: 30px;

							line-height: 30px;
							text-align: center;
							text-transform: uppercase;
							letter-spacing: 1px;

							color: white;
							border-radius: 50px;
							background: linear-gradient(to right,rgba(12,157,80,1),rgba(51,184,163,1));
						}
					}
				}
			}
		}
		#dashboard-wishlists{
			#wishlist-container{
				width: 100%;
				padding: 0;
				margin: 25px 0 0 0;

				border-radius: 3px;
				background: #EBEBEB;

				text-align: left;

				#header{
					padding: 25px 50px;

					font-size: 14px;
					text-transform: uppercase;
					font-weight: 900;
					letter-spacing: 1px;

					border-bottom: 1px solid #cfcfcf;
				}
				#all_wish{
					width: 100%;
					padding: 25px 0 25px 0; 

					.wish{
						display: inline-block;
						vertical-align: top;

						width: calc((100% - 200px) / 3);
						margin: 0 0 0 50px;
						
						div{
							padding: 0 0 25px 0;

							background: white;
							border-bottom-right-radius: 3px;
							border-bottom-left-radius: 3px;

							img{
								width: 100%;
								border-bottom: 2px solid $primary-color;
							}
							p{
								width: 100%;
								margin: 0;

								text-align: center;

								&#title{
									margin: 11px 0 0 0;

									font-weight: 900;
									font-size: 16px;
									text-align: center;
									letter-spacing: 2px;

									color: rgba(52,52,52,1);
								}
								&#user{
									margin: 5px 0 0 0;

									font-weight: 500;
									letter-spacing: 2px;
									font-size: 13px;
									font-family: 'Palatino-Italic';

									color: rgba(157,157,157,1);
								}
								&#price{
									width: 100%;
									margin: 16px 0 0 0;

									font-weight: 700;
									letter-spacing: 1px;
									font-size: 13px;

									color: rgba(52,52,52,1);

									span{
										padding: 2px 8px;

										border: 1px solid rgba(230,230,230,1);
										border-radius: 12px;
										background: #cfcfcf;
									}
								}
							}
							a{
								display: block;
								width: 50%;
								margin: 0 auto;
								padding: 2px 0;

								text-align: center;
								text-decoration: none;

								border: 1px solid rgba(230,230,230,1);
								border-radius: 12px;
								color: #808080;
							}
						}
						svg{
							margin: 0 0 0 10px;
							width: 14px;
							height: 14px;
						}
						input{
							padding: 0;
							margin: 5px 0 0 5px;

							border: 0 none;
							background: none;
						}
					}
				}
			}
		}
		#dashboard-reservations{
			#reservations-container{
				width: 100%;
				padding: 0;
				margin: 25px 0 0 0;

				border-radius: 3px;
				background: #EBEBEB;

				text-align: left;

				#header{
					padding: 25px 50px;

					font-size: 14px;
					text-transform: uppercase;
					font-weight: 900;
					letter-spacing: 1px;
				}
				#header-n{
					padding: 25px 50px;

					font-size: 14px;
					text-transform: uppercase;
					font-weight: 900;
					letter-spacing: 1px;
				}
				#all-reserve{
					width: 100%;
					padding: 0 50px 25px 50px; 

					form{
						width: calc(100% - 240px);
						display: inline-block;
						vertical-align: top;

						margin: 0 0 0 -4px;
						padding: 0 0 0 25px;

						text-transform: uppercase;
						font-size: 12px;
						letter-spacing: 1px;
						font-weight: 700;
	
						color: #505050;

						textarea{
							width: 100%;
							height: 200px;
							padding: 15px;
							margin: 15px 0 0 0;

							border: 0 none;
							border-radius: 10px;

							text-align: left;
							font-weight: 500;
							font-size: 14px;

							resize: none;
						}
						input{
							float: right;
							margin: 10px 0 0 0;
							width: 250px;
							height: 30px;

							line-height: 30px;
							text-align: center;
							text-transform: uppercase;
							letter-spacing: 1px;

							color: white;
							border-radius: 50px;
							border: none;
							background: linear-gradient(to right,rgba(12,157,80,1),rgba(51,184,163,1));
						}
					}
					.reservation{
						display: inline-block;
						vertical-align: top;

						width: 240px;
						margin: 0;

						p{
							width: 100%;
							padding: 2px 0;
							margin: 0 0 10px 0;

							background: #cfcfcf;
							border-radius: 50px;

							text-align: center;
						}
						a{
							display: block;
							width: 180px;
							margin: -10px auto 0 auto;
							padding: 4px 0;

							text-align: center;
							text-decoration: none;

							border-radius: 50px;
							color: white;
							background: linear-gradient(to right,rgba(12,157,80,1),rgba(51,184,163,1));
						}
						div{
							padding: 0 0 25px 0;

							background: white;
							border-bottom-right-radius: 3px;
							border-bottom-left-radius: 3px;

							img{
								width: 100%;
								border-bottom: 2px solid $primary-color;
							}
							p{
								width: 100%;
								margin: 0;

								text-align: center;
								background: none;

								&#title{
									margin: 11px 0 0 0;

									font-weight: 900;
									font-size: 16px;
									text-align: center;
									letter-spacing: 2px;

									color: rgba(52,52,52,1);
								}
								&#user{
									margin: 5px 0 0 0;

									font-weight: 500;
									letter-spacing: 2px;
									font-size: 13px;
									font-family: 'Palatino-Italic';

									color: rgba(157,157,157,1);
								}
							}
							a{
								display: block;
								width: 50%;
								margin: 10px auto 0 auto;
								padding: 2px 0;

								text-align: center;
								text-decoration: none;

								border: 1px solid rgba(230,230,230,1);
								border-radius: 12px;
								color: #808080;
								background: none;
							}
						}
						input{
							padding: 0;
							margin: 5px 0 0 15px;

							border: 0 none;
							background: none;
						}
						form{
							width: 100%;
							margin: 0;

							text-align: center;

							input{
								width: 180px;
								padding: 4px 0;
								margin: 0 30px 0 0;

								text-align: center;
								text-decoration: none;

								border-radius: 50px;
								color: white;
								background: linear-gradient(to right,rgba(12,157,80,1),rgba(51,184,163,1));
							}
						}
					}
				}
			}
		}
		.dashboard-display{
			display: none;
		}
		.active{
			display: block;
		}
	}
}