@font-face {
    font-family: 'Palatino-Regular';
    src: url('../../assets/fonts/palatinor-regular.otf');
}
@font-face {
    font-family: 'Palatino-Italic';
    src: url('../../assets/fonts/palatinor-italic.otf');
}
@font-face {
    font-family: 'Palatino-Bold';
    src: url('../../assets/fonts/palatinor-bold.otf');
}