@font-face {
    font-family: 'Palatino-Regular';
    src: url('../../assets/fonts/palatino-regular.otf');
}
@font-face {
    font-family: 'Palatino-Italic';
    src: url('../../assets/fonts/palatino-italic.otf');
}
@font-face {
    font-family: 'Palatino-Bold';
    src: url('../../assets/fonts/palatino-bold.otf');
}