#headerSearch{
	position: fixed;
	top: 0; left: 170px; right: 0;
	z-index: 10;

	height: 92px;
	width: calc(100% - 170px);

	background: linear-gradient(to bottom, rgba(0,0,0,.62), rgba(0,0,0,0));

	div{
		width: 960px;
		height: 10px;
		margin: 0 auto;
	}
	#header-logo{
		margin: 42px 0 0 0;
		width: 40px;
		height: 40px;

		background: $primary-color;
	}
	ul{
		margin: -28px -10px 0 0;
		padding: 0;

		float: right;

		a{
			color: white;

			text-decoration: none;
		}
		li{
			margin: 0 10px;
			display: inline;
			padding: 8px 16px;

			letter-spacing: 2px;
			font-weight: 400;
			font-size: 11px;
			text-transform: uppercase;

			cursor: pointer;
		}
		li:hover{
			border-bottom: 2px solid rgba(255,255,255,1);
		}
	}
}

#search-category{
	position: fixed;
	top: 0; left: 0;
	padding: 0;
	margin: 0;

	width: 170px;
	min-height: 100%;
	
	background: rgba(33,33,33,1);

	ul{
		padding: 0;
		margin: 0;

		list-style: none;

		text-align: center;

		a{
			color: white;
			text-decoration: none;
		}
		#search-category-title{
			width: 100%;
			height: 92px;
			margin: 0 0 28px 0;

			text-transform: uppercase;
			font-family: 'Lato', sans-serif;
			font-weight: 900;
			letter-spacing: 2px;
			font-size: 14px;

			line-height: 46px;

			color: white;
			border-bottom: 1px solid #bbbbbb;
		}
		li{
			width: 100%;
			padding: 24px 0;

			font-weight: 300;
			letter-spacing: 2px;
			font-size: 14px;

			color: white;
			text-decoration: none;
		}
		li:hover{
			color: #d0bb6a;
		}
		button{
			padding: 8px 20px;

			border-radius: 50px;
			background: rgba(46,46,46,1);
			color: white;
			border: 0 none;

			text-transform: uppercase;
			font-weight: 700;
			letter-spacing: 2px;
			font-size: 12px;
		}
	}
}

#search-landing-category{
	position: absolute;
	top: 0; left: 170px;
	width: calc(100% - 170px);
	height: 320px;

	background: red;

	text-align: center;
	line-height: 400px;
	font-size: 32px;
	font-weight: 900;
	letter-spacing: 2px;
	text-transform: lowercase;
}

#search-content{
	position: absolute;
	top: 320px; left: 170px;
	width: calc(100% - 170px);
	padding: 60px;

	background: rgba(235,235,235,1);

	#search-form{
		width: 225px;
	}
	input{
		width: 100%;
	}
	input[name='name']{
		padding: 0 20px;
		height: 30px;

		background: white;
		border-radius: 50px;
		border: 0 none;

		line-height: 30px;
		font-weight: 300;
	}
	input[name='location']{
		margin: 15px 0 0 0;
		padding: 5px 20px;
		height: 40px;

		background: white;
		border-radius: 6px;
		border: 0 none;

		font-weight: 300;
		font-weight: 700;
		font-size: 12px;
		letter-spacing: 2px;
	}
	div[name='price-handler']{
		margin: 15px 0 0 0;
		padding: 0 20px;
		height: 40px;

		background: white;
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
		border: 0 none;
		border-bottom: 1px solid rgba(235,235,235,1);

		font-weight: 300;
		font-weight: 700;
		font-size: 14px;
		letter-spacing: 2px;
		line-height: 40px;
		text-transform: uppercase;
	}
	div[name='price-under']{
		margin: 0;
		padding: 0 20px;
		height: 40px;

		background: white;
		border-bottom-left-radius: 6px;
		border-bottom-right-radius: 6px;
		border: 0 none;

		font-weight: 300;
		font-weight: 700;
		font-size: 14px;
		letter-spacing: 2px;
		line-height: 40px;
		text-transform: uppercase;
	}
	input[type='range']{
		cursor: pointer;
	}
	input[type='submit']{
		margin: 20px 0 0 0;
		padding: 5px 20px;
		height: 30px;

		background: linear-gradient(to right,rgba(12,157,80,1),rgba(51,184,163,1));
		color: white;
		border-radius: 50px;
		border: 0 none;

		font-weight: 700;
		font-size: 12px;
		letter-spacing: 2px;
		text-transform: uppercase;
		text-align: center;
	}
}