#headerSearch{
	position: fixed;
	top: 0; left: 170px; right: 0;
	z-index: 10;

	height: 92px;
	width: calc(100% - 170px);

	background: linear-gradient(to bottom, rgba(0,0,0,.62), rgba(0,0,0,0));

	div{
		width: 960px;
		height: 10px;
		margin: 0 auto;
	}
	#header-logo{
		margin: 42px 0 0 0;
		width: 40px;
		height: 40px;

		background: $primary-color;
	}
	ul{
		margin: -28px -10px 0 0;
		padding: 0;

		float: right;

		a{
			color: white;

			text-decoration: none;
		}
		li{
			margin: 0 10px;
			display: inline;
			padding: 8px 16px;

			letter-spacing: 2px;
			font-weight: 400;
			font-size: 11px;
			text-transform: uppercase;

			cursor: pointer;
		}
		li:hover{
			border-bottom: 2px solid rgba(255,255,255,1);
		}
	}
}

#search-category{
	position: fixed;
	top: 0; left: 0;
	padding: 0;
	margin: 0;

	width: 170px;
	min-height: 100%;
	
	background: rgba(33,33,33,1);

	ul{
		padding: 0;
		margin: 0;

		list-style: none;

		text-align: center;

		a{
			color: white;
			text-decoration: none;
		}
		#search-category-title{
			width: 100%;
			height: 46px;
			margin: 0 0 20px 0;

			text-transform: uppercase;
			font-family: 'Lato', sans-serif;
			font-weight: 900;
			letter-spacing: 2px;
			font-size: 14px;

			line-height: 46px;

			color: rgba(218,218,218,1);
		}
		li{
			width: 100%;
			padding: 20px 0;

			font-weight: 100;
			letter-spacing: 2px;
			font-size: 12px;
			font-family: 'Palatino-Italic';

			color: rgba(157,157,157,1);
			text-decoration: none;
			svg{
				width: 50px;
				padding: 0;
				margin: -30px 0 -30px 0;
			}
		}
		.li_4:hover{
			color: rgba(255,224,142,1);
		}
		.li_4:hover .icon_4{
			stroke: rgba(255,224,142,1);
		}
		.li_5:hover{
			color: rgba(0,132,113,1);
		}
		.li_5:hover .icon_5{
			stroke: rgba(0,132,113,1);
		}
		.li_6:hover{
			color: rgba(227,99,89,1);
		}
		.li_6:hover .icon_6{
			stroke: rgba(227,99,89,1);
		}
		.li_8:hover{
			color: rgba(70,26,60,1);
		}
		.li_8:hover .icon_8{
			stroke: rgba(70,26,60,1);
		}
		.li_9:hover{
			color: rgba(156,198,185,1);
		}
		.li_9:hover .icon_9{
			stroke: rgba(156,198,185,1);
		}
		button{
			padding: 8px 20px;

			border-radius: 50px;
			background: rgba(46,46,46,1);
			color: white;
			border: 0 none;

			text-transform: uppercase;
			font-weight: 500;
			letter-spacing: 2px;
			font-size: 12px;
			font-family: 'Lato',sans-serif;
		}
		button:hover{
			background: #d0bb6a;
		}
	}
}

#search-landing-category{
	position: absolute;
	top: 0; left: 170px;
	width: calc(100% - 170px);
	height: 320px;

	background: rgba(210,210,210,1);
	border-bottom: 1px solid #cccccc;

	text-align: center;
	line-height: 400px;
	font-size: 36px;
	font-weight: 900;
	letter-spacing: 2px;
	text-transform: lowercase;
}

#search-content{
	position: absolute;
	top: 320px; left: 170px;
	width: calc(100% - 170px);
	padding: 60px;

	background: rgba(235,235,235,1);

	#search-form{
		width: 225px;

		display: inline-block;
		vertical-align: top;

		#select-order{
			position: absolute;
			right: 60px;

			width: auto;
			padding: 6px 32px 6px 16px;
			margin: 0 0 16px 0;

			font-size: 12px;
			font-weight: 700;
			letter-spacing: 1px;
			text-transform: uppercase;

			border: 0 none;
			background: white;

			cursor: pointer;
			overflow: hidden;
			
			-webkit-appearance: none;
		}
		#select-availability{
			margin: 15px 0 0 0;

			width: auto;
			padding: 6px 32px 6px 16px;

			font-size: 14px;
			font-weight: 500;

			border: 0 none;
			background: white;

			cursor: pointer;
			overflow: hidden;
			
			-webkit-appearance: none;
		}
		input{
			width: 100%;
		}
		input[name='name']{
			margin: 0;
			padding: 5px 20px;
			height: 40px;

			background: white;
			border-radius: 6px;
			border: 0 none;

			font-weight: 300;
			font-weight: 700;
			font-size: 12px;
			letter-spacing: 2px;
			text-transform: uppercase;
		}
		input[name='location']{
			margin: 15px 0 0 0;
			padding: 5px 20px;
			height: 40px;

			background: white;
			border-radius: 6px;
			border: 0 none;

			font-weight: 300;
			font-weight: 700;
			font-size: 12px;
			letter-spacing: 2px;
		}
		input[name='price']{
			margin: 15px 0 0 0;
			padding: 5px 20px;
			height: 40px;

			background: white;
			border-radius: 6px;
			border: 0 none;

			font-weight: 300;
			font-weight: 700;
			font-size: 12px;
			letter-spacing: 2px;
		}
		div[name='price-handler']{
			margin: 15px 0 0 0;
			padding: 0 20px;
			height: 40px;

			background: white;
			border-top-left-radius: 6px;
			border-top-right-radius: 6px;
			border: 0 none;
			border-bottom: 1px solid rgba(235,235,235,1);

			font-weight: 300;
			font-weight: 900;
			font-size: 13px;
			letter-spacing: 2px;
			line-height: 40px;
			text-transform: uppercase;
		}
		div[name='price-under']{
			margin: 0;
			padding: 0 20px;
			height: 40px;

			background: white;
			border-bottom-left-radius: 6px;
			border-bottom-right-radius: 6px;
			border: 0 none;

			font-weight: 300;
			font-weight: 700;
			font-size: 14px;
			letter-spacing: 2px;
			text-transform: uppercase;
		}
		#value-price{
			float: right;
		}
		@import 'range';
		input[type='range']{
			margin: 0;
			padding: 0;
			cursor: pointer;
		}
		input[type='submit']{
			margin: 20px 0 0 0;
			padding: 5px 20px;
			height: 30px;

			background: linear-gradient(to right,rgba(12,157,80,1),rgba(51,184,163,1));
			color: white;
			border-radius: 50px;
			border: 0 none;

			font-weight: 700;
			font-size: 12px;
			letter-spacing: 2px;
			text-transform: uppercase;
			text-align: center;
		}
	}
	#search-display-result{
		display: inline-block;
		vertical-align: top;

		width: calc(100% - 225px - 25px + 11px);
		margin: 0 0 0 10px;
		height: auto;

		#resutlt-count{
			margin: 5px 0 24px 11px;
			font-family: 'Palatino-Italic', serif;
		}

		ul{
			list-style: none;
			padding: 0;
			margin: 11px 0 0 0;
		}
		#no-result{
			width: 350px;
			padding: 10px;
			margin: 11px 0 0 calc(50% - 175px);

			border-radius: 6px;
			background: white;

			text-align: center;
		}
		li{
			width: calc(33% - 11px);
			margin: 0 0 15px 11px;

			display: inline-block;
			vertical-align: top;

			border-bottom-left-radius: 6px;
			border-bottom-right-radius: 6px;

			background: white;

			#image-product{
				width: 100%;
				height: 200px;

				border-bottom: 2px solid rgba(220,199,90,1);
			}
			#product-name,
			#product-location,
			#product-price-handler,
			#product-price{
				margin: 0;
				width: 100%;
				
				text-align: center;
			}
			#product-name{
				margin: 11px 0 0 0;
				
				font-weight: 900;
				letter-spacing: 2px;
				font-size: 16px;

				color: rgba(52,52,52,1);
			}
			#product-location{				
				font-weight: 500;
				letter-spacing: 2px;
				font-size: 13px;
				font-style: italic;

				color: rgba(157,157,157,1);
			}
			#product-price-handler{
				margin: 13px 0 0 0;
			}
			#product-price{
				width: 200px;
				padding: 5px 16px;

				font-weight: 700;
				letter-spacing: 1px;
				font-size: 13px;

				color: rgba(52,52,52,1);
				border: 1px solid rgba(230,230,230,1);
				border-radius: 12px;

				span{
					padding: 0 8px 0 0;
					border-right: 1px solid rgba(230,230,230,1);
				}
				a{
					color: rgba(52,52,52,1);
					text-decoration: none;
					padding: 5px 0 5px 8px;
				}
				a:hover{
					color: $primary-color;
				}
			}
			#view-product{
				display: block;
				width: 100px;
				height: 30px;
				margin: 20px 0 20px calc(50% - 50px);

				line-height: 30px;
				text-align: center;
				text-decoration: none;

				background: rgba(230,230,230,1);
				border-radius: 6px;
				color: rgba(52,52,52,1);
			}
			#view-product:hover{
				background: darken(rgba(230,230,230,1),5%);
			}
			#view-product:active{
				position: relative;
				top: 2px;
			}
		}
	}
}
