@import 'variables';
@import 'normalize';

#page-landing{
	position: absolute;
	top: 0; left: 0; right: 0;
	z-index: -1;

	width: 100%;
	height: 600px;

	background: linear-gradient(rgba(0,0,0,.29),rgba(0,0,0,.29)),url('../../img/home-bg.jpg');
	background-position: center bottom;
	background-size: cover;
}

header{
	position: fixed;
	top: 0; left: 0; right: 0;
	z-index: 10;

	height: 92px;
	width: 100%;

	background: linear-gradient(to bottom, rgba(0,0,0,.62), rgba(0,0,0,0));

	div{
		width: 960px;
		height: 10px;
		margin: 0 auto;
	}
	#header-logo{
		margin: 42px 0 0 0;
		width: 40px;
		height: 40px;

		background: $primary-color;
	}
	ul{
		margin: -30px -10px 0 0;
		padding: 0;

		float: right;

		a{
			color: white;

			text-decoration: none;
		}
		li{
			margin: 0 10px;
			display: inline;
			padding: 8px 16px;

			letter-spacing: 2px;
			font-weight: 400;
			font-size: 10px;
			text-transform: uppercase;

			cursor: pointer;
		}
		li:hover{
			border-bottom: 2px solid rgba(255,255,255,1);
		}
	}
}

#baseline{
	position: absolute;
	top: 250px; left: 50%;
	margin: 0 0 0 -245px;

	width: 490px;
	height: 126px;

	font-size: 80px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 60px;
	font-weight: 900;

	color: rgba(255,255,255,1);
}
#baseline-under{
	display: block;
	margin: 30px 0;

	font-size: 14px;
	text-align: center;
	text-transform: none;
	letter-spacing: 3px;
	font-weight: 100;
}

#landing-form{
	position: absolute;
	top: 450px; left: 50%;
	margin: 0 0 0 -320px;

	width: 640px;

	input[type='text'],
	input[type='number']{
		width: 375px;
		padding: 14px 20px;

		font-weight: 100;
		font-size: 16px;
		letter-spacing: 1px;

		border: 0 none;
		border-right: 1px solid #bbbbbb;
		background: rgba(255,255,255,.8);
	}
	input[name='object-zip']{
		width: 100px;
		margin: 0 0 0 -4px;

		border-right: 0 none;
		border-radius: 0;
		border-top-right-radius: 2px;
		border-bottom-right-radius: 2px;
	}
	input[type='submit']{
		margin: 0 0 0 10px;
		width: 150px;
		padding: 14px 20px;

		border: 0 none;
		border-radius: 0;
		background: $primary-color;
		color: white;
		border-radius: 2px;

		font-weight: 100;
		font-size: 16px;
		letter-spacing: 1px;
	}
	input[type='submit']:hover,
	input[type='submit']:focus{
		background: lighten($primary-color,5%);
	}
	input[type='submit']:active{
		position: relative;
		top: 2px;

		background: $primary-color;
	}
}

.container{
	width: 100%;
	margin: 600px 0 0 0;

	#counter-wrapper{
		width: 100%;
		height: 350px;

		background: linear-gradient(to bottom, rgba(231,231,231,1), rgba(249,249,249,1));

		div{
			width: 320px;
			height: 174px;
			margin: 88px 0 0 0;
			padding: 20px;

			display: inline-block;
			vertical-align: top;

			text-align: center;
			letter-spacing: 3px;
			text-transform: uppercase;
			font-size: 12px;
			font-weight: 100;

			img{
				width: 50px;
				height: 50px;
				margin: 0 0 25px 0;
			}
		}
		#counter-objects{
			margin-left: calc(50% - 480px);
		}
		#counter-locations{
			margin-left: -4px;
		}
		#counter-members{
			margin-left: -4px;
		}
		#number-objects{
			display: block;
			margin: 0 0 5px 0;

			font-weight: 900;
			font-size: 40px;
		}
		#number-locations{
			display: block;
			margin: 0 0 5px 0;
			
			font-weight: 900;
			font-size: 40px;
		}
		#number-members{
			display: block;
			margin: 0 0 5px 0;
			
			font-weight: 900;
			font-size: 40px;
		}
	}

	#categories{
		width: 960px;
		margin: 0 auto;

		text-align: center;

		h1{
			margin: 60px 0 0 0;

			color: $primary-color;

			font-size: 40px;
		}
		button{
			margin: 25px 0 0 0;
			width: 160px;
			padding: 14px 20px;

			border: 0 none;
			border-radius: 0;
			background: $primary-color;
			color: white;
			border-radius: 2px;

			font-weight: 100;
			font-size: 16px;
			letter-spacing: 1px;

			cursor: pointer;
		}
		button:hover{
			background: lighten($primary-color,5%);
		}
		button:active{
			position: relative;
			top: 2px;
		}
		p{
			margin: 25px auto;
			width: 480px;

			font-weight: 300;
			font-size: 14px;
			letter-spacing: 1px;
		}
		div{
			display: inline-block;
			vertical-align: top;
			height: 500px;
		}
		#col-1{
			width: 400px;
			margin: 25px 0 0 0;

			.row-1{
				width: 100%;
				height: 300px;

				background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)),url('../../img/home-cat-transport.jpg');
				background-position: center bottom;
				background-size: cover;
				border-bottom: 3px solid $primary-color;

				cursor: pointer;
			}
			.row-2{
				margin: 30px 0 0 0;
				width: 100%;
				height: 170px;

				background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)),url('../../img/home-cat-multimedia.jpg');
				background-position: center bottom;
				background-size: cover;
				border-bottom: 3px solid $primary-color;

				cursor: pointer;
			}
		}
		#col-2{
			width: 200px;
			margin: 25px 0 0 25px;

			background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)),url('../../img/home-cat-home.jpg');
			background-position: center bottom;
			background-size: cover;
			border-bottom: 3px solid $primary-color;

			cursor: pointer;
		}
		#col-3{
			width: 300px;
			margin: 25px 0 0 26px;

			.row-1{
				width: 100%;
				height: 170px;

				background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)),url('../../img/home-cat-hifi.jpg');
				background-position: center bottom;
				background-size: cover;
				border-bottom: 3px solid $primary-color;

				cursor: pointer;
			}
			.row-2{
				margin: 30px 0 0 0;
				width: 100%;
				height: 300px;

				background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)),url('../../img/home-cat-garden.jpg');
				background-position: center bottom;
				background-size: cover;
				border-bottom: 3px solid $primary-color;

				cursor: pointer;
			}
		}
		#col-2:hover,
		.row-1:hover,
		.row-2:hover{
			opacity: .9;
		}
		#col-2:active,
		.row-1:active,
		.row-2:active{
			position: relative;
			top: 2px;
		}
		.cat-infos{
			height: auto;
			display: block;

			color: rgba(255,255,255,.9);

			font-weight: 900;
			font-size: 30px;
			letter-spacing: 2px;
		}
		.articles{
			margin: -25px 0 0 0;
			width: auto;

			font-weight: 300;
			font-size: 14px;
			letter-spacing: 2px;
		}
	}
}