@import 'variables';
@import 'normalize';

#page-landing{
	position: absolute;
	top: 0; left: 0; right: 0;
	z-index: -1;

	width: 100%;
	height: 600px;

	background: linear-gradient(rgba(0,0,0,.29),rgba(0,0,0,.29)),url('../../img/home-bg.jpg');
	background-position: center bottom;
	background-size: cover;
}

header{
	position: fixed;
	top: 0; left: 0; right: 0;
	z-index: 10;

	height: 92px;
	width: 100%;

	background: linear-gradient(to bottom, rgba(0,0,0,.62), rgba(0,0,0,0));

	div{
		width: 960px;
		height: 10px;
		margin: 0 auto;
	}
	#header-logo{
		margin: 42px 0 0 0;
		width: 40px;
		height: 40px;

		background: $primary-color;
	}
	ul{
		margin: -20px -10px 0 0;
		padding: 0;

		float: right;

		a{
			color: white;

			text-decoration: none;
		}
		li{
			margin: 0 10px;
			display: inline;
			padding: 8px 16px;

			letter-spacing: 2px;
			font-weight: 400;
			font-size: 10px;
			text-transform: uppercase;

			cursor: pointer;
		}
		li:hover{
			border-bottom: 2px solid rgba(255,255,255,1);
		}
	}
}

#baseline{
	position: absolute;
	top: 250px; left: 50%;
	margin: 0 0 0 -245px;

	width: 490px;
	height: 126px;

	font-size: 80px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 60px;
	font-weight: 900;

	color: rgba(255,255,255,1);
}
#baseline-under{
	display: block;
	margin: 30px 0;

	font-size: 14px;
	text-align: center;
	text-transform: none;
	letter-spacing: 3px;
	font-weight: 100;
}

#landing-form{
	position: absolute;
	top: 450px; left: 50%;
	margin: 0 0 0 -320px;

	width: 640px;

	input[type='text'],
	input[type='number']{
		width: 375px;
		padding: 14px 20px;

		font-weight: 100;
		font-size: 16px;
		letter-spacing: 1px;

		border: 0 none;
		border-right: 1px solid #bbbbbb;
		background: rgba(255,255,255,.8);
	}
	input[name='object-zip']{
		width: 100px;
		margin: 0 0 0 -4px;

		border-right: 0 none;
		border-radius: 0;
		border-top-right-radius: 2px;
		border-bottom-right-radius: 2px;
	}
	input[type='submit']{
		margin: 0 0 0 10px;
		width: 150px;
		padding: 14px 20px;

		border: 0 none;
		border-radius: 0;
		background: $primary-color;
		color: white;
		border-radius: 2px;

		font-weight: 100;
		font-size: 16px;
		letter-spacing: 1px;
	}
	input[type='submit']:hover,
	input[type='submit']:focus{
		background: lighten($primary-color,5%);
	}
	input[type='submit']:active{
		position: relative;
		top: 2px;
	}
}

.container{
	width: 100%;
	margin: 600px 0 0 0;

	#counter-wrapper{
		width: 100%;
		height: 350px;

		background: rgba(236,236,236,1);

		div{
			width: 320px;
			height: 174px;
			margin: 88px 0 0 0;
			padding: 20px;

			display: inline-block;
			vertical-align: top;

			text-align: center;
			letter-spacing: 3px;
			text-transform: uppercase;
			font-size: 12px;
			font-weight: 100;

			img{
				width: 50px;
				height: 50px;
				margin: 0 0 25px 0;
			}
		}
		#counter-objects{
			margin-left: calc(50% - 480px);
		}
		#counter-locations{
			margin-left: -4px;
		}
		#counter-members{
			margin-left: -4px;
		}
		#number-objects{
			display: block;
			margin: 0 0 5px 0;

			font-weight: 900;
			font-size: 40px;
		}
		#number-locations{
			display: block;
			margin: 0 0 5px 0;
			
			font-weight: 900;
			font-size: 40px;
		}
		#number-members{
			display: block;
			margin: 0 0 5px 0;
			
			font-weight: 900;
			font-size: 40px;
		}
	}
}