<div name="category" id='search-category'>
	<ul>
		<li id='search-category-title'>
			Catégories
		</li>
	<?php foreach($categories as $category): ?>
		<a href="search/<?php echo $category['id'];?>">
			<li class='li_<?php echo $category['id']; ?>'>
				<?php 
					$id = $category['id'];
					include("assets/img/icons/".$id.".svg"); ?>
				<br>
				<?php echo $category['name']; ?>
			</li>
		</a>
	<?php endforeach; ?>
		<li>
			<a href='search/all'><button>tout voir</button></a>
		</li>
	</ul>
</div>