<div id="wishlist" class="dashboard-display<?php if(isset($GET['view'])&&$GET['view']=='wishlist')echo " active";?>">

	<div id="header">
		<?php if(count($wishlist)>1): ?>
			<?php echo count($wishlist);?> articles dans ma wishlist
		<?php else: ?>
			<?php echo count($wishlist);?> article dans ma wishlist
		<?php endif; ?>
	</div>

	<div id="all_wish">
		<?php foreach($wishlist as $wish): ?>
			<div class="wish">
				<div>
					<img src="dsqf" alt="">
					<p id='title'>
						<?php echo $wish['offer_name']; ?>
					</p>
					<p id='user'>
						<?php echo $wish['user_name']; ?>
					</p>
					<p id='price'>
						<span>
							<?php echo $wish['offer_price']." €/j"; ?>
						</span>
					</p>
					<br>
					<a href="offer/<?php echo $wish['offer_id'];?>">
						Détails
					</a>	
				</div>

				<form method="POST" action="account/wish/delete/<?php echo $wish['wish_id'];?>">
					<input type="submit" value="Retirer de la wishlist">
				</form>
			</div>
		<?php endforeach; ?>
	</div>
</div>