<div id="notifications-container" class="dashboard-display<?php if(!isset($GET['view']))echo " active";?>">

	<div id="content">

		<?php
			if(!$notifs['own_reserv'] && !$notifs['new_reserv']):
		?>
				<div id="header">Pas de nouvelles notifications :(</div>
		<?php
			else:
		?>
				<div id="header">Mes dernières notifications</div>
		<?php
			endif;
		?>

		<?php $new_reserv=$notifs['new_reserv'];
		if($new_reserv):
			foreach($new_reserv as $notif): ?>
				<div class="notif">
					<img src="<?php echo $notif['user_photo'];?>"/>
					<span class="details">
						<?php echo $notif['user_name'];?> voudrait louer votre "<?php echo $notif['offer_name']; ?>" du <?php echo date('d/m/Y',$notif['date_start']);?> au <?php echo date('d/m/Y',$notif['date_end']);?>.
						<br>
						<a href="offer/<?php echo $notif['offer_id'];?>">Voir l'annonce</a>
					</span>
				</div>
		<?php
			endforeach; 
		endif;
		?>

		<?php $own_reserv=$notifs['own_reserv'];
		if($own_reserv):
			foreach($own_reserv as $notif): ?>
				<?php if($notif['status']==1): ?>
					<div class="notif">
						<img src="<?php echo $notif['user_photo'];?>"/>
						<span class="details">
							<?php echo $notif['user_name'];?> a accepté votre demande de réservation. 
							<br>
							<a href="offer/<?php echo $notif['offer_id'];?>">Voir l'annonce</a>
						</span>
					</div>	
				<?php elseif($notif['status']==2): ?>
					<div class="notif">
						<img src="<?php echo $notif['user_photo'];?>"/>
						<span class="details"><?php echo $notif['user_name'];?> a refusé votre demande de réservation. 
							<a href="offer/<?php echo $notif['offer_id'];?>">Voir l'annonce</a>
							<br>Le <?php echo date('d/m/Y',$notif['created_at']);?>
						</span>
					</div>			
				<?php 
			endif;
			endforeach;
			endif;
		?>
	</div>
</div>