<div id="own-offer" class="dashboard-display<?php if(isset($GET['view'])&&$GET['view']=='offers')echo " active";?>">

	<div id="header">
		<button class='add-offer-button'>Ajouter un produit</button>
	</div>

	<?php if(count($offers)>0):?>
		<?php foreach($offers as $offer): ?>

			<div class="own-offer">
				<div class="offer-name">
					<a href="offer/<?php echo $offer['id']; ?>">
						<?php echo $offer['name']; ?>
					</a>
					<?php if(count($offer['reservations']) > 0): ?>
						• <?php echo count($offer['reservations']); ?> demandes de locations
					<?php else: ?>
						• Aucune demandes
					<?php endif; ?>

				</div>
				<div class="offer-infos">
					<img src="dsf"/>
					<p>
						<span><?php echo $offer['price_per_day']; ?>€/j</span>
					</p>
				</div>

				<div class="offer-reservations-handler">
					<?php if(count($offer['reservations'])>0): ?>
						<?php foreach ($offer['reservations'] as $reservation): ?>
							// RESERVATIONS EN ATTENTE
							<?php if($reservation['status']==0):?>
								<div class="offer-reservation">
									<img class="reservation-photo" src="<?php echo $reservation['user_photo'];?>"/>
									
									<span class="reservation-info">
										<?php echo $reservation['user_name']." voudrait louer ton Titre du ".date('d/m/Y',$reservation['date_start'])." au ".date('d/m/Y',$reservation['date_end']); ?>

										<!-- BOUTON SUPPRIMER / VALIDER -->
										<form method="POST" action="account/reserve/accept/17" class="validation-form">
											<input type="submit" class="validation-bouton" value="Accepter">
										</form>
										<form method="POST" action="account/reserve/refuse/17" class="validation-form">
											<input type="submit" class="delete-bouton" value="Refuser">
										</form>
									</span>

									<span class="reservation-price">
										<?php 
											$price = (($reservation['date_end']-$reservation['date_start'])/60/60/24)*$offer['price_per_day'];
											echo $price;
										?> €
									<!-- ICI CALCULER LE NOMBRES DE JOURS * $offer['price_per_day'] -->
									</span>
									<!-- BOUTON SUPPRIMER / VALIDER -->
									<form method="POST" action="account/reserve/accept/<?php echo $reservation['reservation_id']; ?>" class="validation-form">
										<input type="submit" class="validation-bouton" value="Accepter la proposition">
									</form>
									<form method="POST" action="account/reserve/refuse/<?php echo $reservation['reservation_id']; ?>" class="validation-form">
										<input type="submit" class="delete-bouton" value="Refuser définitivement la proposition">
									</form>
								</div>
								
							<!-- RESERVATIONS VALIDES -->
							<?php elseif($reservation['status']==1 && $reservation['date_end']>time()): ?>
								<div class="offer-reservation">
									<span class="reservation-info">
										<img class="reservation-photo" href="<?php echo $reservation['user_photo'];?>"/>
										<?php echo "Vous avez accepté la proposition de ".$reservation['user_name'].". Vous pouvez maintenant vous contacter par email : ";?>
										<a href="mailto:<?php echo $reservation['user_email']; ?>?subject=<?php echo "[ALQUI]--".$offer['name'];?>">
											<?php echo $reservation['user_email']; ?>
										</a>
									</span>
									<span class="reservation-date">
										<?php echo "Du ".date('d/m/Y',$reservation['date_start'])." au ".date('d/m/Y',$reservation['date_end'])."."; ?>
									</span>
								</div>	
							<?php endif; ?>
						<?php endforeach; ?>
					<?php endif; ?>
				</div>

				<div class="offer-actions">
					<?php if($offer['availability']==1): ?>
						<form action="account/offer/unavailable/<?php echo $offer['id']; ?>" method="POST">
							<input type="submit" value="Mettre indisplonible">
						</form>
					<?php elseif($offer['availability']==2): ?>
						<form action="account/offer/available/<?php echo $offer['id']; ?>" method="POST">
							<input type="submit" value="Mettre disponible">
						</form>
					<?php endif; ?>
					<?php if(count($offer['reservations']) == 0): ?>
						<form method="POST" action="account/offer/delete/<?php echo $offer['id'];?>">
							<input value="Supprimer" type="submit">
						</form>
					<?php endif; ?>
				</div>
			</div>
		<?php endforeach; ?>
	<?php else: ?>
		Vous n'avez pas encore ajouté d'offres ou vos offres n'ont pas encore été validées par nos administrateurs.
	<?php endif; ?>

	<div id="footer">
		<button class='add-offer-button'>Ajouter un produit</button>
	</div>
</div>

<div id="add-offer">
	<div id="header">
		<span id='return-offer-location'>
			<
		</span>
		<span>
			retour produits en location
		</span>
	</div>
	<div id="content">
		<form action="" method='post' enctype="multipart/form-data">
			<div id="col-l">
				Catégorie <font class='colored'>*</font> <input type="text">
				<br>
				<br>
				<br>
				Nom du produit <font class='colored'>*</font> <input type="text">
				<br>
				<br>
				<br>
				Localisation <font class='colored'>*</font> <input type="text">
				<br>
				<br>
				<br>
				prix / jour <font class='colored'>*</font> <input id='add-offer-price' type="text">
			</div>
			<div id="col-r">
				
			</div>
			<div id="col-b">
				<p>
					Description <br> du produit
				</p>
				<textarea name="" id=""></textarea>
				<input type="file" id='add-picture-1'/>
				<input type="file" id='add-picture-2'/>
				<input type="file" id='add-picture-3'/>
				<button id='add-picture-1-fake'>Ajouter la première photo</button>
				<button id='add-picture-2-fake'>Ajouter la deuxième photo</button>
				<button id='add-picture-3-fake'>Ajouter la troisième photo</button>
				<div class="photos" id='picture-1'></div>
				<div class="photos" id='picture-2'></div>
				<div class="photos" id='picture-3'></div>

				<input type="submit" value='ajouter mon produit'>
			</div>
		</form>
	</div>
</div>