<div id="notifications" <?php if(!isset($GET['view']))echo "class=\"active\"";?>>
	<?php if($notifs_count>1): ?>
		<h2><?php echo $notifs_count;?> NOTIFICATIONS</h2>
	<?php else: ?>
		<h2><?php echo $notifs_count;?> NOTIFICATION</h2>
	<?php endif; ?>
	<div id="notifs-own-offers">
		<h3>Vos offres</h3>
		<?php $new_reserv=$notifs['new_reserv'];
		if($new_reserv):
			foreach($new_reserv as $notif): ?>

				<div class="notif">
					<img src="<?php echo $notif['user_photo'];?>"/>
					<span class="details"><?php echo $notif['user_name'];?> voudrait louer votre <?php echo $notif['offer_name']; ?> du <?php echo date('d/m/Y',$notif['date_start']);?> au <?php echo date('d/m/Y',$notif['date_end']);?>.
						<a href="offer/<?php echo $notif['offer_id'];?>">Voir l'annonce</a>
						<br>Le <?php echo date('d/m/Y',$notif['created_at']);?>
					</span>
				</div>
		<?php
			endforeach; 
		else:
			echo "Vous n'avez aucunes notifications concernant vos offres";
		endif;
		?>
	</div>


	<div id="notifs-own-reserv">
		<h3>Vos réservations</h3>
		<?php $own_reserv=$notifs['own_reserv'];
		if($own_reserv):
			foreach($own_reserv as $notif): ?>
				<div class="notif">
					<img src="<?php echo $notif['user_photo'];?>"/>
					<span class="details"><?php echo $notif['user_name'];?> a accepté votre demande de réservation. 
						<a href="offer/<?php echo $notif['offer_id'];?>">Voir l'annonce</a>
						<br>Le <?php echo date('d/m/Y',$notif['created_at']);?>
					</span>
				</div>			
		<?php
			endforeach; 
		else:
			echo "Vous n'avez aucunes notifications concernant vos demandes de réservations";
		endif;
		?>
	</div>
</div>