<div id="wishlist" class="dashboard-display<?php if(isset($GET['view'])&&$GET['view']=='wishlist')echo " active";?>">

	<div id="header">
		<?php if(count($wishlist)>1): ?>
			<?php echo count($wishlist);?> articles dans ma wishlist
		<?php else: ?>
			<?php echo count($wishlist);?> article dans ma wishlist
		<?php endif; ?>
	</div>

	<div id="all_wish">
		<?php foreach($wishlist as $wish): ?>
			<div class="wish">
				<?php echo $wish['offer_name']." de ".$wish['user_name']." pour ".$wish['offer_price']." €/jours.";?>
				<form method="POST" action="account/wish/delete/<?php echo $wish['wish_id'];?>">
					<input type="submit" value="X">
				</form>
				<br>
				<a href="offer/<?php echo $wish['offer_id'];?>">
					Voir l'annonce
				</a>	
			</div>
		<?php endforeach; ?>
	</div>
</div>