<div id="own-offer-container" class="dashboard-display<?php if(isset($GET['view'])&&$GET['view']=='offers')echo " active";?>">

	<div id="header">
		<button class='add-offer-button'>Ajouter un produit</button>
	</div>

	
	<?php if(count($offers)>0):?>
		<?php foreach($offers as $offer): ?>

			<div class="own-offer">
				<div class="offer-name">
					<a href="offer/<?php echo $offer['id']; ?>">
						<?php echo $offer['name']; ?>
					</a>
					<?php if(count($offer['reservations']) == 1): ?>
						• <?php echo count($offer['reservations']); ?> demande de location
					<?php elseif(count($offer['reservations']) > 0): ?>
						• <?php echo count($offer['reservations']); ?> demandes de location
					<?php else: ?>
						• Aucune demande
					<?php endif; ?>

				</div>
				<div class="offer-infos">
					<img src="<?php echo $offer['photo_name']; ?>"/>
					<p>
						<span><?php echo $offer['price_per_day']; ?>€/j</span>
					</p>
				</div>

				<div class="offer-reservations-handler">
					<?php if(count($offer['reservations'])>0): ?>
						<?php foreach ($offer['reservations'] as $reservation): ?>
							<?php if($reservation['status']==0):?>
								<div class="offer-reservation">
									<img class="reservation-photo" src="<?php echo $reservation['user_photo'];?>"/>
									
									<span class="reservation-info">
										<?php 
											echo $reservation['user_name']." voudrait louer cet objet du <strong>".date('d/m/Y',$reservation['date_start'])."</strong> au <strong>".date('d/m/Y',$reservation['date_end'])."</strong>."; ?>

										<!-- BOUTON SUPPRIMER / VALIDER -->
										<form method="POST" action="account/reserve/accept/<?php echo $reservation['reservation_id'];?>" class="validation-form">
											<input type="submit" class="validation-bouton" value="Accepter">
										</form>
										<form method="POST" action="account/reserve/refuse/<?php echo $reservation['reservation_id'];?>" class="validation-form">
											<input type="submit" class="delete-bouton" value="Refuser">
										</form>
									</span>
								</div>
								
							<!-- RESERVATIONS VALIDES -->
							<?php elseif($reservation['status']==1 && $reservation['date_end']>time()): ?>
								<div class="offer-reservation">
									<span class="reservation-info">
										<img class="reservation-photo" src="<?php echo $reservation['user_photo'];?>"/>
										<span>
											<a href="mailto:<?php echo $reservation['user_email']; ?>?subject=<?php echo "[ALQUI] > Offre &#34;".$offer['name']."&#34;";?>">
												Contacter le loueur
											</a>
										</span>
									</span>
								</div>	
							<?php endif; ?>
						<?php endforeach; ?>
					<?php endif; ?>
				</div>

				<div class="offer-actions">
					<?php if($offer['availability']==1): ?>
						<form action="account/offer/unavailable/<?php echo $offer['id']; ?>" method="POST" class='availability' >
							<input type="submit"value="Mettre indisponible">
						</form>
					<?php elseif($offer['availability']==2): ?>
						<form action="account/offer/available/<?php echo $offer['id']; ?>" method="POST" class='availability' >
							<input type="submit" value="Mettre disponible">
						</form>
					<?php endif; ?>
					<?php if(count($offer['reservations']) == 0): ?>
						<form method="POST" action="account/offer/delete/<?php echo $offer['id'];?>">
							<input value="Supprimer" type="submit">
						</form>
					<?php endif; ?>
				</div>
			</div>
		<?php endforeach; ?>
	<?php else: ?>
		Vous n'avez pas encore ajouté d'offres ou vos offres n'ont pas encore été validées par nos administrateurs.
	<?php endif; ?>

	<div id="footer">
		<button class='add-offer-button'>Ajouter un produit</button>
	</div>
</div>

<div id="add-offer-container" class='dashboard-display'>
	<div id="header">
		<span id='return-offer-location'>
			<
		</span>
		<span>
			retour produits en location
		</span>
	</div>
	<div id="content">
		<form action="account/offer/add" method='post' enctype="multipart/form-data">
			<div id="col-l">
				Catégorie <font class='colored'>*</font>
				<select name="category" required>
					<?php foreach ($categories as $category): ?>
						<option value="<?php echo $category['id']; ?>"><?php echo $category['name']; ?></option>
					<?php endforeach; ?>
				</select>
				<br>
				<br>
				<br>
				Nom du produit <font class='colored'>*</font> <input name="name" type="text">
				<br>
				<br>
				<br>
				Localisation <font class='colored'>*</font> <input type="number" name="location">
				<br>
				<br>
				<br>
				prix / jour <font class='colored'>*</font> <input type="number" name="price" id='add-offer-price'>
			</div>
			<div id="col-r">
				
			</div>
			<div id="col-b">
				<p>
					Description <br> du produit
				</p>
				<textarea name="content" class='description-offer' placeholder='Écrivez ici...'></textarea>
				<input type="file" name="main-photo" id='add-picture-1'/>
				<input type="file" name="second-photo" id='add-picture-2'/>
				<input type="file" name="third-photo" id='add-picture-3'/>
				<button id='add-picture-1-fake'>Ajouter la première photo</button>
				<button id='add-picture-2-fake'>Ajouter la deuxième photo</button>
				<button id='add-picture-3-fake'>Ajouter la troisième photo</button>
				<div class="photos" id='picture-1'></div>
				<div class="photos" id='picture-2'></div>
				<div class="photos" id='picture-3'></div>

				<input type="submit" value='ajouter mon produit'>
			</div>
		</form>
	</div>
</div>