<div id="reservations-container" class="dashboard-display<?php if(isset($GET['view'])&&$GET['view']=='reserv')echo " active";?>">


	<?php if(count($reservations)>0):?>
		<?php 
			$confirm = 0;
			foreach($reservations as $reservation):
				if($reservation['status'] == 1){
					$confirm++;
				}
			endforeach;
				
			if($confirm > 0):
		?>
			<div id="header">
				En cours de location (<?php echo $confirm; ?>)
			</div>
			<div id="all-reserve">
				<?php foreach($reservations as $reservation): ?>
					<!-- ACCEPTÉ -->
					<?php if($reservation['status'] == 1): ?>
						<div class="reservation">
							<p>
								du <strong><?php echo date('d/m/Y',$reservation['date_start']); ?></strong> au <strong><?php echo date('d/m/Y',$reservation['date_end']); ?></strong>
							</p>
							<div>
								<img src="<?php echo $reservation['photo_name']; ?>" alt="">
								<p class='title'>
									<?php echo $reservation['offer_name']; ?>
								</p>
								<a href="offer/<?php echo $reservation['offer_id'];?>">
									Voir l'annonce
								</a>
							</div>
							<br>
							<a href="mailto:<?php echo $reservation['user_email']; ?>?subject=<?php echo "[ALQUI] > Offre &#34; ".$reservation['offer_name']."&#34;"; ?>">
								Contacter le loueur
							</a>
						</div>

						<!-- COMMENTAIRE -->
						<?php if($reservation['commented'] != 1 && time() > $reservation['date_start']): ?>
							<form method="POST" action="account/comment/<?php echo $reservation['user_id'];?>/">
								Notez votre loueur :
								<select name="mark">
									<option value="0">&#9734;&#9734;&#9734;&#9734;&#9734;</option>
									<option value="1">&#9733;&#9734;&#9734;&#9734;&#9734;</option>
									<option value="2">&#9733;&#9733;&#9734;&#9734;&#9734;</option>
									<option value="3">&#9733;&#9733;&#9733;&#9734;&#9734;</option>
									<option value="4">&#9733;&#9733;&#9733;&#9733;&#9734;</option>
									<option value="5">&#9733;&#9733;&#9733;&#9733;&#9733;</option>
								</select>
								<input type="hidden" name="reservation_id" value="<?php echo $reservation['reservation_id'];?>">
									<br>
									<textarea name="content" placeholder='Écrivez un commentaire sur le loueur'></textarea>
									<br>
									<input type="submit" class="comment-submit" value="Valider votre commentaire">
							</form>
						<?php endif; ?>

						<?php if(time() > $reservation['date_end'] && $reservation['commented'] == 1): ?>
							<form action="account/reserve/delete/<?php echo $reservation['reservation_id'];?>" method="POST">
								Votre commentaire a bien été enregistrer, merci !
								<input type="submit" value="Terminer la transaction">
							</form>
						<?php endif; ?>
					<?php endif; ?>
				<?php endforeach; ?>
			</div>
		<?php
			elseif($confirm == 0):
		?>
			<div id="header">
				En attente de confirmation (<?php echo count($reservations) - $confirm; ?>)
			</div>
			<div id="all-reserve">
				<?php foreach($reservations as $reservation): ?>
					<!-- EN ATTENTE -->
					<?php if($reservation['status'] == 0): ?>
						<div class="reservation">
							<p>
								du <strong><?php echo date('d/m/Y',$reservation['date_start']); ?></strong> au <strong><?php echo date('d/m/Y',$reservation['date_end']); ?></strong>
							</p>
							<div>
								<img src="<?php echo $reservation['photo_name']; ?>" alt="">
								<p class='title'>
									<?php echo $reservation['offer_name']; ?>
								</p>
								<a href="offer/<?php echo $reservation['offer_id'];?>">
									Voir l'annonce
								</a>
							</div>
							<br>
							<form action="account/reserve/delete/<?php echo $reservation['reservation_id'];?>" method="POST">
								<input type="submit" value="Annuler">
							</form>
						</div>
					<?php endif; ?>
				<?php endforeach; ?>
			</div>
		<?php
			endif;
		?>
	<?php else: ?>
		<div id="header-n">
			aucune reservation en cours
		</div>
	<?php endif; ?>
</div>