<div id="resutlt-count"><?php echo count($data);if(count($data)>1)echo" offres trouvées";else echo" offre trouvée";?></div>

<ul id='search-display-result-all'>
<?php 
	if(!isset($data)||empty($data)):
		echo "<p id='no-result'>Ooops, nous n'avons trouvé aucun résultats...</p>";
	else:
	foreach ($data as $offer): ?>

	<li class='search-display-result-single'>
		<a href="offer/<?php echo $offer['id']; ?>">
			<div id="image-product" style="background: <?php echo $offer['photo_name']; ?> center center no-repeat"/>
			</div>
		</a>
		<p id="product-name"><?php echo $offer['name']; ?></p>
		<p id="product-location"><?php echo $offer['location']; ?></p>
		<p id="product-price-handler">
			<span id="product-price">
				<span><?php echo $offer['price_per_day']; ?>€/j</span>
				<?php if(isset($SESSION['id'])&&!in_array($offer['id'],$SESSION['wishlist'])): // CONNECTE ET PAS DANS LA LISTE?>
					<a class="not-wished" data-title="Ajoutez cette offre à votre liste de souhaits" href="account/wish/<?php echo $offer['id']; ?>">&#9733;</a>
				<?php elseif(!isset($SESSION['id'])): // PAS CONNECTE?>
					<a class="wish-not-logged" data-title="Connectez vous pour ajouter cette offre à votre liste de souhaits" href="">&#9733;</a>
				<?php else: // CONNECTE ET DEJA DANS LA LISTE?>
					<a class="wished" data-title="Cette offre est déjà dans votre liste de souhaits" href="">&#9733;</a>
				<?php endif; ?>
			</span>
		</p>
		<a href="offer/<?php echo $offer['id']; ?>" id='view-product'>Détails</a>
	</li>

<?php endforeach;endif; ?>
</ul>