
<!doctype html>
	<html lang="fr">
		<head>
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

			<title>Alqui</title>
			<meta name="description" content="">
			<base href="<?php echo $BASE; ?>/" />
			<meta name="viewport" content="width=device-width,initial-scale=1">
			<link href="public/css/main.css" rel="stylesheet" type="text/css" />
			<script src="//tinymce.cachefly.net/4.1/tinymce.min.js"></script>
			<script>
				tinymce.init({
					selector:'textarea.description-offer',
					menubar: false,
					toolbar: [
						"styleselect | bold italic | link image | alignleft aligncenter alignright"
					],
					resize: false,
					width: '75%',
					height: 200
				});
			</script>
		</head>
		<body>
	
			<header  id='headerAccount'>
				<div>
					<a href=''><img src="assets/img/logo.png" id='header-logo' alt='Alqui - Logo' title='Alqui'/></a>
					<ul>
						<a href="/" id='action'>
							<li>
								retour Accueil
							</li>
						</a>
					</ul>
				</div>
			</header> 
			
			<div id="account-info-wrapper">
				<div id="account-info">
					<img src="<?php echo !empty($SESSION['photo'])?$SESSION['photo']:''; ?>"/>
					<span id="wishlist-nb"><?php echo count($wishlist).' &nbsp; <font>&#9733;</font>'; ?></span>
					<span class="account-name">
						<?php echo $SESSION['firstname']." ".$SESSION['lastname']; ?>
					</span>
					<span class="account-email">
						<?php echo $SESSION['email']; ?>
					</span>	
				<?php if(!empty($SESSION['address'])&&!empty($SESSION['postal'])&&!empty($SESSION['city'])&&!empty($SESSION['country'])): ?>			
					<span class="account-address">
						<?php echo $SESSION['address'].', '; ?>
					</span>
					<span class="account-postal">
						<?php echo $SESSION['postal']; ?>
					</span>
					<span class="account-city">
						<?php echo $SESSION['city'].', '; ?>
					</span>
					<span class="account-country">
						<?php echo $SESSION['country']; ?>
					</span>
				<?php endif; ?>
				<br>
					<a href="account/edit"><?php include('assets/img/icons/edit.svg'); ?> Modifier</a>
					<a href="logout"><?php include('assets/img/icons/logout.svg'); ?> Se déconnecter</a>
				</div>
			</div>

			<div id="container">
				<div id="head">
					<span id="notifications" class="<?php if(!isset($GET['view']))echo " active";?>">
						<span class='nb'>
							<?php 
								$ct = count($notifs['own_reserv']) + count($notifs['new_reserv']);
								if($ct < 10):
									echo '0'.$ct;
								else: 
									echo $ct;
								endif;
							?>
						</span> 
						<span class='txt'>notification(s)</span>
					</span>
					<span id="locations" class="<?php if(isset($GET['view'])&&$GET['view']=='offers')echo " active";?>">
						<span class='nb'>
							<?php 
								if(count($offers) < 10):
									echo '0'.count($offers);
								else:
									echo count($offers);
								endif;
							?>
						</span> 
						<span class='txt'>produit(s) <br>en location</span>
					</span>
					<span id="wishlists" class="<?php if(isset($GET['view'])&&$GET['view']=='wishlist')echo " active";?>">
						<span class='nb'>
							<?php 
								if(count($wishlist) < 10):
									echo '0'.count($wishlist);
								else:
									echo count($wishlist);
								endif;
							?>
						</span> 
						<span class='txt'>article(s) <br>dans ma wishlist</span>
					</span>
					<span id="reservations" class="<?php if(isset($GET['view'])&&$GET['view']=='reserv')echo " active";?>">
						<span class='nb'>
							<?php 
								if(count($reservations) < 10):
									echo '0'.count($reservations);
								else:
									echo count($reservations);
								endif;
							?>
						</span> 
						<span class='txt'>reservation(s)</span>
					</span>
				</div>
				<div id="content">
					<div id="dashboard-notifs">
						<?php include('partials/dashboard_notifs.html'); ?>
					</div>
					<div id="dashboard-locations">
						<?php include('partials/dashboard_offers.html'); ?>
					</div>
					<div id="dashboard-wishlists">
						<?php include('partials/dashboard_wishlist.html'); ?>
					</div>
					<div id="dashboard-reservations">
						<?php include('partials/dashboard_reservations.html'); ?>
					</div>
				</div>
			</div>

			<footer id='dashboard'>
				<ul>
					<li>
						&copy; 2015 alqui.fr. tous droits réservés
					</li>
					<a href="">
						<li>
							Mentions légales
						</li>
					</a>
					<a href="">
						<li>
							contact
						</li>
					</a>
				</ul>
			</footer>
		
			<script src="public/js/app.js" type="text/javascript"></script>
		</body>
	</html>