<!-- <?php print_r($offers); ?> -->
<!doctype html>
	<html lang="fr">
		<head>
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

			<title>Alqui</title>
			<meta name="description" content="">
			<base href="<?php echo $BASE; ?>/" />
			<meta name="viewport" content="width=device-width,initial-scale=1">
			<link href="public/css/main.css" rel="stylesheet" type="text/css" />
		</head>
		<body>
	
			<header  id='headerAccount'>
				<div>
					<img src="assets/img/logo.png" id='header-logo' alt='Alqui - Logo' title='Alqui'/>
					<!-- <div id="header-logo"></div> -->
				</div>
			</header> 
			
			<div id="account-info-wrapper">
				<div id="account-info">
					<img src="<?php echo !empty($SESSION['photo'])?$SESSION['photo']:''; ?>"/>
					<span class="account-name">
						<?php echo $SESSION['firstname']." ".$SESSION['lastname']; ?>
					</span>
					<span class="account-email">
						<?php echo $SESSION['email']; ?>
					</span>	
				<?php if(!empty($SESSION['address'])&&!empty($SESSION['postal'])&&!empty($SESSION['city'])&&!empty($SESSION['country'])): ?>			
					<span class="account-address">
						<?php echo $SESSION['address'].', '; ?>
					</span>
					<span class="account-postal">
						<?php echo $SESSION['postal']; ?>
					</span>
					<span class="account-city">
						<?php echo $SESSION['city'].', '; ?>
					</span>
					<span class="account-country">
						<?php echo $SESSION['country']; ?>
					</span>
				<?php endif; ?>
				<br>
					<a href="account/edit">Modifier</a>
					<a href="logout">Se déconnecter</a>
				</div>
			</div>

			<div id="container">
				<div id="head">
					<span id="notifications">
						<span class='nb'>55</span> <span class='txt'>notifications</span>
					</span>
					<span id="locations">
						<span class='nb'>55</span> <span class='txt'>produits <br>en location</span>
					</span>
					<span id="wishlists">
						<span class='nb'>55</span> <span class='txt'>articles <br>dans ma wishlist</span>
					</span>
					<span id="reservations">
						<span class='nb'>55</span> <span class='txt'>reservations</span>
					</span>
				</div>
				<div id="content">
					<div id="dashboard-notifs">
						<?php include('partials/dashboard_notifs.html'); ?>
					</div>
					<div id="dashboard-locations">
						<?php include('partials/dashboard_offers.html'); ?>
					</div>
					<div id="dashboard-wishlists">
						<?php include('partials/dashboard_wishlist.html'); ?>
					</div>
					<div id="dashboard-reservations">
						RESERVATION
					</div>
				</div>
			</div>

			<div id="dashboard">

				<!-- VOS DEMANDES -->
				<?php include('partials/dashboard_reservations.html'); ?>
			</div>
		
			<script src="public/js/app.js" type="text/javascript"></script>
		</body>
	</html>