<!-- <?php print_r($offers); ?> -->
<!doctype html>
	<html lang="fr">
		<head>
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

			<title>Alqui</title>
			<meta name="description" content="">
			<base href="<?php echo $BASE; ?>/" />
			<meta name="viewport" content="width=device-width,initial-scale=1">
			<link href="public/css/main.css" rel="stylesheet" type="text/css" />
		</head>
		<body>
	
			<header>
				<div>
					<!-- <img src="" id='header-logo' alt='Alqui - Logo' title='Alqui'/> -->
					<div id="header-logo"></div>
					<ul>
					  <?php if(!isset($SESSION['id'])): ?>
						<a href="register"><li>Inscription</li></a>
						<a href="" id='login-link'><li>Connexion</li></a>
				      <?php else: ?>
				        <a href="account"><li>Bonjour, <?php echo $SESSION['firstname']; 
				        if($SESSION['notif']!=0){
				        	echo "<span class='notif'>".$SESSION['notif']."</span>";
				        } ?></li></a>
				        <a href="logout"><li>Deconnexion</li></a>
				      <?php endif; ?>
					</ul>
				</div>
			</header> 
			
			<div id="account-info" style="margin-top:200px;">
				<img src="<?php echo !empty($SESSION['photo'])?$SESSION['photo']:''; ?>"/>
				<span class="account-name">
					<?php echo $SESSION['firstname']." ".$SESSION['lastname']; ?>
				</span>
				<span class="account-email">
					<?php echo $SESSION['email']; ?>
				</span>	
			<?php if(!empty($SESSION['address'])&&!empty($SESSION['postal'])&&!empty($SESSION['city'])&&!empty($SESSION['country'])): ?>			
				<span class="account-address">
					<?php echo $SESSION['address']; ?>
				</span>
				<span class="account-postal">
					<?php echo $SESSION['postal']; ?>
				</span>
				<span class="account-city">
					<?php echo $SESSION['city']; ?>
				</span>
				<span class="account-country">
					<?php echo $SESSION['country']; ?>
				</span>
			<?php else: ?>
				<span class="account-to-complete">
					Vous devez compléter vos informations avant de débuter une transaction.
				</span>
			<?php endif; ?>
				<a href="account/edit">Modifier</a>
			</div>

			<div id="dashboard">
				<?php include('partials/dashboard_offers.html') ?>
			</div>
		

			<script src="public/js/app.js" type="text/javascript"></script>
		</body>
	</html>