<!-- <?php print_r($search); ?> -->
<!doctype html>
	<html lang="fr">
		<head>
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

			<title>Alqui</title>
			<meta name="description" content="">
			<base href="<?php echo $BASE; ?>/" />
			<meta name="viewport" content="width=device-width,initial-scale=1">
			<link href="public/css/main.css" rel="stylesheet" type="text/css" />

		</head>
		<body>
			<div id="login-overlay"  <?php if(isset($login_error)): ?>class="active"<?php endif;?>>
				<div class="login-form">
					<h1>ALQUI</h1>
					<h3>Bienvenue</h3>
					<p>
						Veuillez vous identifier pour profiter pleinement d'Alqui !
					</p>
					<form method="post" action="login/">
						<input type="email" name="email" required placeholder='Votre identifiant'>
						<input type="password" name="password" placeholder='Votre mot de passe'>
						<a href="">Mot de passe oublié ?</a>
						<input type="submit" value="Connexion" id="login-submit" name="login">
					</form>
					<?php include('partials/login-error.html'); ?>
				</div>
			</div>

			<div id="register-overlay">
				<form id="register-form" method="POST" action="register/">
					<!-- REGISTER FORM -->
					<input name="firstname" type="text" placeholder='Prénom' required>
					<br>
					<input name="lastname" type="text" placeholder='Nom' required>
					<br>
					<input type="email" name="email" id="email-register" placeholder='Votre email' required>
					<span class="ckeck-form" id="email-check"><?php include('partials/email-check.html'); ?></span>
					<br>
					<input type="password" name="password" id="password-register" placeholder='Votre mot de passe' required>
					<br>
					<input type="password" name="password-conf" id="confirm-register" placeholder='Confirmer votre mot de passe' required>
					<span class="ckeck-form" id="password-check"></span>
					<input type="submit" value="Inscription" id="submit-register">
				</form>
			</div>


			<header id='headerSearch'>
				<div>
					<!-- <img src="" id='header-logo' alt='Alqui - Logo' title='Alqui'/> -->
					<div id="header-logo"></div>
					<ul>
					  <?php if(!isset($SESSION['id'])): ?>
						<a href="register" id="register-link"><li>Inscription</li></a>
						<a href="" id='login-link'><li>Connexion</li></a>
				      <?php else: ?>
				        <a href="account"><li>Bonjour, <?php echo $SESSION['firstname']; 
				        if($SESSION['notif']!=0){
				        	echo $SESSION['notif'];
				        } ?></li></a>
				        <a href="logout"><li>Deconnexion</li></a>
				      <?php endif; ?>
					</ul>
				</div>
			</header> 

			<!-- LEFT BAR -->
			<?php include('partials/categories.html'); ?> 

			<!-- OVERLAY -->
			<div style="background-image:url('assets/img/back_<?php echo $search['category'];?>.png')" id='search-landing-category'>
				
				<?php echo $category_name; ?>

			</div>

			<div id="search-content">
				<!-- SEARCH FORM -->
				<form id="search-form" method="POST" action="search/<?php echo $search['category'];?>">

					<select id="select-order" name="order">
						<option <?php if(isset($search['order'])&&$search['order']=="offer.price_per_day ASC")echo"selected";?> value="offer.price_per_day ASC">Trier par PRIX : le - cher</option>
						<option <?php if(isset($search['order'])&&$search['order']=="offer.price_per_day DESC")echo"selected";?> value="offer.price_per_day DESC">Trier par PRIX : le + cher</option>
						<option <?php if((isset($search['order'])&&$search['order']=="offer.created_at DESC")||!isset($search['order']))echo"selected";?> value="offer.created_at DESC">Trier par DATE : la + récente</option>
						<option <?php if(isset($search['order'])&&$search['order']=="offer.created_at ASC")echo"selected";?> value="offer.created_at ASC">Trier par DATE : la - récente</option>
					</select>

					<input type="text" name="name" value="<?php if(isset($search['name'])){echo $search['name'];}?>" placeholder='Recherche...'>

					<input type="number" name="location" value="<?php if(isset($search['location'])){echo $search['location'];} ?>" placeholder='CODE POSTAL'>

					<div name='price-handler'>
						Prix max : <span id="value-price"><?php if(isset($search['price']))echo $search['price'].'€';else echo '100€';?></span>
					</div>
					<div name='price-under'>
						<input id="input-price" type="range" name="price" value="<?php if(isset($search['price']))echo $search['price'];else echo '100';?>" step="10" min="10" max="1000"> 
					</div>
					
					<select id='select-availability' name="availability">
						<option value="1" <?php if((isset($search['availability'])&&$search['availability']==1)||!isset($search['availability']))echo "selected";?>>Offre disponible uniquement</option>
						<option value="2"<?php if((isset($search['availability'])&&$search['availability']==2))echo "selected";?>>Toute les offres</option>
					</select>

					<input type="submit" value="Lancer la recherche">
				</form>

				<!-- DISPLAY SEARCH RESULT -->
				<div id="search-display-result">
					<?php include('partials/list-offers.html'); ?>
				</div>
			</div>

			<script src="public/js/app.js" type="text/javascript"></script>
		</body>
	</html>